<div class="p-3 w-50"
  style="margin: 5% 25%; box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;">
  <app-todo-create (todoCreated)="onCreateTodo($event)"></app-todo-create>
</div>
<div class="p-3 w-50"
  style="margin: 0 25%; box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;"
  *ngIf="todoItems.length> 0">
  <ul class="list-group"
    *ngFor="let todo of todoItems"
    id="{{ todo.id }}">
    <app-todo-items
      [todoItem]="todo"
      (todoDeleted)="onDeleteTodo($event)"
      (todoEdited)="onEditTodo($event)"></app-todo-items>
  </ul>
</div>